#login{
    background-image: linear-gradient(45deg,grey,white);
}

#sideDisplay{
    background-image: url("https://images.unsplash.com/photo-1557821552-17105176677c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2hvcHBpbmclMjBjYXJ0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#title{
    position: relative;
    left: -100%;
    top: 0;
}

.link-light{
    color: #6c757d !important;
}

.link-light:hover{
    color: #424344 !important;
}